@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins&family=Roboto:ital@1&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

*/
/* -------------reset-------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------------------variable-------------- */
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;

}
/* ---all------------ */
body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.3rem;
}
p{
    font-family:'Roboto', sans-serif ;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    /* line-height: 1.8rem; */
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

/* ---------------------------------utility classs---------------------- */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding:var(--padding-inline-section);
/* overflow: hidden; */

}
.flex{
    display: flex;
    align-items: center;
}
.hover-links:hover{
    color:var(--accent-color)
}
/* ------------banner---------------- */
#top-banner{
    background:url("img/pink.jpg") ;
    background-size: 330px;
    background-repeat: repeat;
}
.banner-text{
    text-align: center;
    padding: 15px 30px;
    color: white;

}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px  var(--secondary-text-color);
    transition: 0.2s ease-in-out;
    text-align: center;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    border:0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px  24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* ---------------navbar=----------------- */
.main-nav{
display: flex;
justify-content: space-between;
position: relative;
}
.nav-link{
flex-basis: 730px;    
}
.nav-link ul {
    justify-content: end;
    gap: 40px;
}
.hover-links{
    color:var(--primary-text-color);
    transition: 0.2s ease-out;
}
.nav-toggle{
    display: none;
}
/* ----------------------header section----------------------- */


.header-section{
    justify-content: center;
    gap: 50px;
}


.header-left{
    max-width: 40vw;
}
.header-section .header-right img{
    width: 100%;
}
.header-left h1{
    margin-bottom: 20px;

}
.header-left a{
    margin: 35px 2px;
}
/* -----------------------company------------------------ */
.company-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logo{
    height: 45px;
}
.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
gap: 20px;
}
/* --------------------------feature----------------------- */
/* header */
.feature-header{
    text-align: center;
    margin-bottom: 40px;
}
#feature-section{
    padding: 80px var(--padding-inline-section);
    background: url("img/blue.png") no-repeat center center/cover;
    /* background-repeat: no-repeat;
    background-position: center;
    background:cover; */
    border-radius: 100px;

}
.feature-header h2{
    margin: 20px;
}
.feature-area{
    flex-wrap: wrap;
    gap:20px
}
.feature-card{
    flex-direction: column;
    gap: 20px;
    text-align: center;
    max-width: 30%;
    margin-top: 12px;
}
/* ----------------big feature--------- */
#big-feature{
    padding: 30px var(--padding-inline-section);
}
.big-feature-container{
    gap: 30px;
}
.big-feature-container img{
    width: 100%;

}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}
/* --------------------example----------------- */
.example-header{
    flex-direction: column;
    gap: 20px;
    text-align: center;
}


.example{
    padding: 80px var(--padding-inline-section);
}
.example-card{
    width: 23%;
    position: relative;
    height: 300px;
    background-color: black;
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url("img/2.avif") no-repeat center center/cover;
transition: 0.2s ease-out;
}
.example-card:hover{
    box-shadow: 0 0 10px #888;
}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;

}
.example-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}
/* -------------cta --------------------- */
.cta-section-container{
    flex-direction: column;
    gap: 40px;
    color: white;


}
#cta-section{
    background-color: #183b56;
    padding: 120px var(--padding-inline-section);
}
.cta-section-container p{
    color: white;
    margin-top: 20px;
}
/* --------------footer----------------- */
footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.footer-container{
    justify-content: space-between;
    align-items: flex-start;

}
/*---------------------------------- sub foter */
.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
   
    
}
.subfooter-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
/* -------responsive ness -------------------*/

